* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto Flex', sans-serif;
   
}
.home {
    
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-image:url(/imagens/elevador.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}
.about {
    width: 100vw;
    min-height: 100vh;
}
.about .container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: row;
    justify-content: space-between;
}
h1 {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left:100px;
    margin: 0px;
    
}
.header {
    position: sticky;
    display: flex;
    padding: 20px ;
    height: 75px;
    width: 100vw;
    background-color: #f1e9e9;
    align-items: center;
    justify-content:space-between 
}
.content {
    position: absolute;
    width: 33%;
    top:80px ;
    right: 20px;
    border: 1px solid blue;
    border-radius: 10px 50px;
    box-shadow: -6px 8px 17px 5px rgba(0,0,0,0.74);
}
  .txt:first-letter {
    color: red;
    font-size: 40px;
}

.logo {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    box-shadow: -9px -9px 8px -4px #000000;
    border-radius: 50%;
}
.nav-bar ul {
    display: flex;
    padding: 15px;
}
.nav-bar ul li {
    padding: 15px;
    list-style: none;
}
.nav-bar ul li a {
    text-decoration: none;
}

.nav-bar ul li a :hover{
    color: red;
    
}
h2 {
    font-family: 'Raleway', sans-serif;
    margin:20px 10px;
}

.food {
    
    display: block;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: #f1e9e9;
    margin-top:70px;
   
    
   

}
.fun {
    
    display: block;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: #f1e9e9;
    margin-top:70px;
   
   
   
    
}
.party {
    display: block;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: #f1e9e9;
    margin-top:70px;
    
    
}
.tourism {
    display: block;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: #f1e9e9;
    margin-top:70px;
    
   
}
.tourism .tur {
    width: 300px;
    height: 210px;
}
.food .plate {
    width: 300px;
    height: 210px;
}
.fun .toy {
    width: 300px;
    height: 210px;
}
.party .festa {
    width: 300px;
    height: 210px;
}

p {
    padding: 15px;
}
.sub-title {

    display: flex;
    margin: 0 auto;
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 20px 10px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    margin: 20px 10px;
   
}

.movie {
    
    display: flex;
    justify-content: center;
    
}
  

.movie .video .video1 {
    display: flex;
    margin: 20px;
    
} 
.gallery {
    width: 100vw;
    display: flex;
}
.gallery .fotos{
    
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   
}

.gallery .fotos .imagem {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 8px;
}

footer {
    position: absolute;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: grey;
}
.rodape {
    display: flex;
    align-items: center;
    align-items: center;
    color: white;
}
.linkedin {
    margin-top: 10px;
    padding: 0 20px;
}
.github {
    margin-top: 10px;
    padding: 0 20px;
}

.branco {
    height: 100vh;
}
@media(max-width:650px) {
    .nav-bar ul {
        display: none;
    }
    .content {
        display: flex;
        position: absolute;
        width: auto;
    }
}
@media (max-width:550px){
    .content .txt {
        font-size:25px;
    }
}
@media(max-width:700px) {
    .about .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0 20px;
        width: 100vw;
        
    }
}
@media(max-width:600px) {
    .movie .video .video1 {
        width: 400px;
    }
}
@media (max-width: 400px){
    h2{
        margin-top: 40px;
    }
}
    @media (max-width: 530px) {
        .gallery .fotos .imagem {
            width: 550px;
        }
        .tourism {
            display: block;
            justify-content: center;
            width: 380px;
            height: 450px;
            background-color: #f1e9e9;
            margin-top:70px;
        }
        .tourism .tur {
            width: 380px;
        }

        .party {
            display: block;
            justify-content: center;
            width: 380px;
            height: 450px;
            background-color: #f1e9e9;
            margin-top:70px;
        }
        .party .festa {
            width: 380px;
        }
        .fun {
    
            display: block;
            justify-content: center;
            width: 380px;
            height: 450px;
            background-color: #f1e9e9;
            margin-top:70px;  
        }
        .fun .toy {
            width: 380px;
        }
        .food {
    
            display: block;
            justify-content: center;
            width: 380px;
            height: 450px;
            background-color: #f1e9e9;
            margin-top:70px;
        
        }
        .food .plate {
            width: 380px;
        }
    }
    
